/*Calculadora clasica */
.root{
	-fx-font-family: monospace;
	-fx-background-color: #333333; 
	
	}
#botonera{
		/*REVISAR EL HGAP Y VGAP */
	-fx-hgap:1px;
	-fx-vgap:2px;
		
	}
#botonera > .button{
	-fx-font-size:16pt;
	-fx-background-radius:0% 0% 0% 0%;
	-fx-backgroun-insets:0px;
	-fx-focus-color:white;	
}
#botonera > .button:armed{
	-fx-border-color:yellow;
	-fx-border-width:2pt;
}
#botonera > .button:focused{
	-fx-border-color:white;
	-fx-border-width:2pt;
}

/*Cuado de texto */
#resultado{
	-fx-text-fill:lightgrey;
	-fx-alignment: CENTER-RIGHT;
	
	-fx-font-size:25pt;
	-fx-font-weight:bold;
	-fx-label-padding:10;
	-fx-background-color:transparent;
	-fx-backgroun-insets:0px;
}



/* Aqui deben ir los botones con FOCO y ARMADOS */


#cero{
	-fx-text-fill:white;
	-fx-background-color: darkgray; 		
}
#cero:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 
}
 #cero:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 
}

#uno {
	-fx-text-fill:white;
	-fx-background-color: darkgray; 
}

#uno:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #uno:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}

 #dos {
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 

 }
#dos:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #dos:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}

 #tres{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 

 }
#tres:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #tres:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}
 #cuatro{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 
 	
 }
 #cuatro:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #cuatro:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}
 #cinco{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 
 	
 }
 #cinco:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #cinco:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}
 #seis{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 
 	
 }
 #seis:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #seis:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}
 #siete{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 
 	
 }
 #siete:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #siete:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}
 #ocho{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 
 	
 }
 #ocho:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #ocho:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}
 #nueve{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 
 	
 }
 #nueve:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
	
}
 #nueve:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}
 #coma{
 	-fx-text-fill:white;
	-fx-background-color: darkgray; 
 	
 }
  #coma:hover{
	-fx-text-fill:darkgrey;
	-fx-background-color: white; 		
}
 #coma:pressed{
	-fx-text-fill:lightgrey;
	-fx-background-color: black; 		
	
}

/*Botones de REINICIO */
#TodoBorrar {
	-fx-text-fill:black;
	-fx-background-color:#d3d3d3;
}
#TodoBorrar:hover {
	-fx-text-fill:black;
	-fx-background-color:white;
}
#TodoBorrar:pressed {
	-fx-text-fill:lightgrey;
	-fx-background-color:black;
}

#borraruno {
	-fx-text-fill:black;
	-fx-background-color:#d3d3d3;
}
#borraruno:hover {
	-fx-text-fill:black;
	-fx-background-color:white;
}
#borraruno:pressed {
	-fx-text-fill:lightgrey;
	-fx-background-color:black;
}

/*Botones de OPERACION */

#multiplicar{
	-fx-text-fill:white;
	-fx-background-color:orange;
}
#multiplicar:hover{
	-fx-text-fill:white;
	-fx-background-color:darkorange;
}
#multiplicar:pressed{
	-fx-text-fill:orange;
	-fx-background-color:white;
}
#dividir{
	-fx-text-fill:white;
	-fx-background-color:orange;
}
#dividir:hover{
	-fx-text-fill:white;
	-fx-background-color:darkorange;
}
#dividir:pressed{
	-fx-text-fill:orange;
	-fx-background-color:white;
}
#resta{
	-fx-text-fill:white;
	-fx-background-color:orange;
}
#resta:hover{
	-fx-text-fill:white;
	-fx-background-color:darkorange;
}
#resta:pressed{
	-fx-text-fill:orange;
	-fx-background-color:white;
}
#suma{
	-fx-text-fill:white;
	-fx-background-color:orange;
}
#suma:hover{
	-fx-text-fill:white;
	-fx-background-color:darkorange;
}
#suma:pressed{
	-fx-text-fill:orange;
	-fx-background-color:white;
}

/*Boton IGUAL */
#igualacion{
	-fx-text-fill:white;
	-fx-background-color:orangered;
}